@import "./src/app/shared/styles/variables.scss";

.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000000;
  padding: 5px 16px 5px 8px;
  background-color: $header-background-color;
  max-height: 53px;
  min-height: 53px;
  color: $light-black;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.75);
}

.navbar-link {
  padding: 0;
  float: left;
  color: $mid-black;
}

.header-navigation {
  a {
    padding-top: 10px;
    float: left;
    color: $mid-black;
    font-weight: bold;
  }
}

.app-icon{
  height: 45px;
}