<form #passwordRequestForm="ngForm" autocomplete="off" id="login-form">
    <input [(ngModel)]="passwordRequestModel.email" [placeholder]="'email' | translate" class="form-control mb-2"
           id="email"
           name="email"
           required
           email
           type="email">
    <button (click)="forgotPassword()" [disabled]="!passwordRequestForm.valid"
            class="btn btn-primary btn-block float-end"
            id="sign-in"
            type="submit"> {{'send' | translate}} </button>
</form>
<div class="signup-link">
    <label (click)="goLoginPage()" class="cursor-pointer">
        {{'goLoginPage' | translate}}
    </label>
</div>