<app-header (toggleSidebarOp)="toggleSidebar()"></app-header>
<div class="sidebar" id="mySidenav">
    <ul class="navigation-menu p-0">
        <li>
            <a [routerLink]="['dashboard']" routerLinkActive="color-black">
                <span class="link-title">{{'Dashboard' | translate}}</span>
            </a>
        </li>
        <li>
            <a [href]="'http://mustafaer.net'">
                <span class="link-title">{{'externalLink' | translate}}</span>
            </a>
        </li>
        <li>
            <a data-bs-toggle="collapse" href="#collapse-level-1" aria-expanded="false"
               aria-controls="collapseExample">
                <span class="link-title">{{'Container Menu' | translate}}</span>
                <i class="link-icon"></i>
            </a>
            <div class="collapse" id="collapse-level-1">
                <ul class="navigation-submenu py-0 px-2">
                    <li>
                        <a [routerLink]="['dashboard']" routerLinkActive="color-black">
                            <span class="link-title">{{'subItem' | translate}}</span>
                        </a>
                    </li>
                    <li>
                        <a [href]="'http://mustafaer.net'">
                            <span class="link-title">{{'externalSubLink' | translate}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>
<div id="main">
    <router-outlet></router-outlet>
</div>