$default-color-1: #0d6b7b;
$default-color-2: #55c5d1;
$sidebar-content-color: #545454;
$header-background-color: white;
$sidebar-background-color: #f6f6f6;
$title-color: #0e6c7b;
$head-color: #545454;
$table-bg: #f6f6f6;
$light-black: #495057;
$mid-black: #525c5d;
